/*main*/
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--desc);
    overflow-x: hidden;
}
[class*='__container'] {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
:root {
	--linkActive:: #4737ff;
	--link: #9a9ea6;
	--heading: #181e4b;
	--desc: #5e6282;
	--primary: #4475f2;
	--placeholder: #9c9c9c;
	--border: #dedede;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip;
}

/*Components*/
.header-block {
}
.header-block__label {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 128%;
    text-transform: uppercase;
    color: var(--primary);
}
.header-block__label:not(:last-child) {
    margin-bottom: 10px;
}
.header-block__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000;
}

/*header*/
.header {
    padding-top: 77px;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 125px;
}
.header__logo {
    flex: 0 0 80px;
}
.header__logo img {
    max-width: 100%;
    height: auto;
}
.header__menu {
}
/*menu*/
.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu__item {
}
.menu__link {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--link);
    transition: color .3s ease;
    position: relative;
    z-index: 3;
}
.menu__link:hover {
    color: var(--linkActive);
}

/*page*/
.page {
    flex-grow: 1;
}
.page__hero {
}
/*hero*/
.hero {
    padding-top: 62px;
}
.hero__container {
    display: flex;

}
.hero__container::before,
.hero__container:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 150%;
    width: 150%;
    border-radius: 50px;
    transform-origin: left bottom;
    box-shadow: 0 30px 60px 0 rgba(71,74,87,.25);
    background-color: #4475f2;
}
.hero__container::before {
    left: calc( 50% + 30px );
    transform:  skewX(-20deg);
}
.hero__container:after {
    left: calc(50% + 444px);
    transform:  skewX(26deg);
}
.hero__content {
    flex: 0 1 50%;
    position: relative;
    z-index: 3;
}
.content-hero {
    display: grid;
    justify-items: start;
    align-content: start;
    gap: 30px;
}
.content-hero__title {
    font-weight: 800;
    font-size: 72px;
    line-height: 117.105263%;
    letter-spacing: -4px;
    color: var(--heading);
}
.content-hero__title a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--primary);
}
.content-hero__title a:hover {
    text-decoration: none;
}
.content-hero__text {
    font-weight: 400;
    line-height: 187%;
}
.content-hero__text p:not(:last-child){
    padding-bottom: 10px;
}
.content-hero__btn {
    color: #fff;
    box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
    background: var(--primary);
    border-radius: 10px;
    padding: 18px 54px;

    font-weight: 700;
    line-height: 156%;
    transition: all .3s ease;
}
.content-hero__btn:hover {
    color: var(--primary);
    background-color: #fff;
    box-shadow: 0 30px 60px 0 rgba(255, 255, 255, 0);
}
.hero__images {
    flex: 0 1 50%;
}
.images-hero {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 27px;
}
.images-hero__item {
}
.images-hero__image {
    position: relative;
    z-index: 2;

    max-width: 100%;

    border-radius: 10px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .25);
}
.images-hero__item--01 {
    grid-row: span 2;
    align-self: end;
    margin-bottom: 10px;
}
.images-hero__item--02 {
}
.images-hero__item--03 {
    grid-row: span 2;
    justify-self: center;
    align-self: end;
    margin-bottom: 10px;
}
.images-hero__item--04 {
    grid-row: span 2;
    align-self: center;
    justify-self: end;
}

/*footer*/
.footer {
}