/*main*/
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--desc);
}
[class*='__container'] {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
:root {
	--linkActive:: #4737ff;
	--link: #9a9ea6;
	--heading: #181e4b;
	--desc: #5e6282;
	--primary: #4475f2;
	--placeholder: #9c9c9c;
	--border: #dedede;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    overflow: clip;
}

/*Components*/
.header-block {
}
.header-block__label {
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 128%;
    text-transform: uppercase;
    color: var(--primary);
}
.header-block__label:not(:last-child) {
    margin-bottom: 10px;
}
.header-block__title {
    font-weight: 800;
    font-size: 48px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #000;
}

/*header*/
.header {
    padding-top: 77px;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 125px;
}
.header__logo {
    flex: 0 0 80px;
}
.header__logo img {
    max-width: 100%;
    height: auto;
}
.header__menu {
}
/*menu*/
.menu {
}
.menu__list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu__item {
}
.menu__link {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--link);
    transition: color .3s ease;
}
.menu__link:hover {
    color: var(--linkActive);
}

/*page*/
.page {
    flex-grow: 1;
}

/*footer*/
.footer {
}